* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

body header {
  height: 9vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 4%;
}

body header nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav a {
  margin-left: 5vh;
  text-decoration: none;
  color: black;
}

body header nav a:nth-last-child(1) {
  margin-left: 10vh;
  padding: 0.6em;
  border-radius: 10em;
  border: 2px solid red;
}

body header nav a:nth-last-child(1) img {
  margin-right: 1.2em;
}

@-webkit-keyframes anim1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim1 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

body section {
  width: 100%;
}

body section.land {
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body section.land div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.land div div {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.land div div h1 {
  font-size: 4em;
  width: 80%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

body section.land div div p {
  width: 80%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

body section.land div div a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.75em 2em;
  border-radius: 10em;
  background-color: red;
  color: white;
  margin: 2em 0 0 9%;
}

body section.land div:nth-child(2) div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body section.land div:nth-child(2) div IMG {
  width: 100%;
}

body section.land a img {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 200;
  height: 4em;
  -webkit-animation: anim1 1s ease 0s infinite forwards;
          animation: anim1 1s ease 0s infinite forwards;
}

body section.specs {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

body section.specs div {
  height: 7.5em;
  border-radius: 30px;
  background-color: rgba(197, 197, 197, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 50px #c5c5c5, -20px -20px 60px White;
          box-shadow: 10px 10px 50px #c5c5c5, -20px -20px 60px White;
  border: 0.5px solid gray;
}

body section.specs div span {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0em 2vw;
}

body section.specs div span span {
  font-size: 1.5em;
}

body section.specs div span span:nth-child(2) {
  font-size: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body section.finnorm {
  min-height: 100vh;
}

body section.finnorm div {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body section.finnorm div div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.finnorm div div img {
  height: 50%;
  position: relative;
}

body section.finnorm div div.cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
  width: 80%;
}

body section.finnorm div div.cont div h1 {
  font-size: 3em;
}

body section.finnorm div div.cont div p {
  font-size: 1.2em;
}

body section.finnorm div div.cont div p:nth-child(2) {
  margin-top: 10%;
}
